.movies {
  background-color: rgba(0, 0, 0, 0.5); }
  .movies__inner {
    width: 100%; }
  .movies__header {
    height: 60px;
    padding: 30px 20px 40px; }
  .movies__headerInner {
    position: fixed;
    top: 0px;
    left: 0px;
    display: table;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    z-index: 110; }
    @media (max-width: 640px) {
      .movies__headerInner {
        display: block;
        text-align: center; } }
  .movies__contentInner {
    width: 99%; }
  .movies__pageTitle {
    display: table-cell;
    vertical-align: middle;
    width: 50%; }
    @media (max-width: 640px) {
      .movies__pageTitle {
        display: block;
        width: 100%;
        text-align: center; } }
    .movies__pageTitle h1 {
      font-size: 24px;
      margin: 0px; }
      @media (max-width: 768px) {
        .movies__pageTitle h1 {
          display: none; } }
  .movies__sortWrap {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    width: auto;
    text-align: right; }
    @media (max-width: 640px) {
      .movies__sortWrap {
        display: block;
        width: 100%;
        text-align: center; } }

.movieCard {
  position: relative;
  display: inline-block;
  height: auto;
  padding: 1% 10px 1%;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition: background-color 0s linear;
  -o-transition: background-color 0s linear;
  transition: background-color 0s linear; }
  @media (min-width: 993px) {
    .movieCard {
      width: calc(100% / 6); } }
  @media (min-width: 769px) and (max-width: 992px) {
    .movieCard {
      width: calc(100% / 5); } }
  @media (min-width: 400px) and (max-width: 768px) {
    .movieCard {
      width: calc(100% / 3); } }
  @media (max-width: 399px) {
    .movieCard {
      padding: 10px;
      width: calc(100% / 2); } }
  .movieCard.selectedMovieCard {
    background-color: #484848;
    padding: 0% 10px 1%;
    border-radius: 4px; }
  @media (min-width: 993px) {
    .movieCard:nth-child(6n+1) .trailer {
      margin-left: 0%;
      margin-left: 0px; }
    .movieCard:nth-child(6n+2) .trailer {
      margin-left: -100%;
      margin-left: calc(-100% + -20px); }
    .movieCard:nth-child(6n+3) .trailer {
      margin-left: -200%;
      margin-left: calc(-200% + -40px); }
    .movieCard:nth-child(6n+4) .trailer {
      margin-left: -300%;
      margin-left: calc(-300% + -60px); }
    .movieCard:nth-child(6n+5) .trailer {
      margin-left: -400%;
      margin-left: calc(-400% + -80px); }
    .movieCard:nth-child(6n) .trailer {
      margin-left: -500%;
      margin-left: calc(-500% + -100px); } }
  @media (min-width: 769px) and (max-width: 992px) {
    .movieCard:nth-child(5n+1) .trailer {
      margin-left: 0%;
      margin-left: 0px; }
    .movieCard:nth-child(5n+2) .trailer {
      margin-left: -100%;
      margin-left: calc(-100% + -20px); }
    .movieCard:nth-child(5n+3) .trailer {
      margin-left: -200%;
      margin-left: calc(-200% + -40px); }
    .movieCard:nth-child(5n+4) .trailer {
      margin-left: -300%;
      margin-left: calc(-300% + -60px); }
    .movieCard:nth-child(5n+5) .trailer {
      margin-left: -400%;
      margin-left: calc(-400% + -80px); } }
  @media (min-width: 400px) and (max-width: 768px) {
    .movieCard:nth-child(3n+1) .trailer {
      margin-left: 0%;
      margin-left: 0px; }
    .movieCard:nth-child(3n+2) .trailer {
      margin-left: -100%;
      margin-left: calc(-100% + -20px); }
    .movieCard:nth-child(3n+3) .trailer {
      margin-left: -100%;
      margin-left: calc(-200% + -40px); } }
  @media (max-width: 399px) {
    .movieCard:nth-child(2n+1) .trailer {
      margin-left: 0%;
      margin-left: 0px; }
    .movieCard:nth-child(2n+2) .trailer {
      margin-left: -100%;
      margin-left: calc(-100% + -20px); } }
  .movieCard__thumb {
    position: relative; }
    .movieCard__thumb > img {
      max-width: 100%;
      border-radius: 4px;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .movieCard__details {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #ffffff;
    border-radius: 4px;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(21%, transparent), to(rgba(0, 0, 0, 0.55)));
    background: -webkit-linear-gradient(top, transparent 0, transparent 21%, rgba(0, 0, 0, 0.55) 100%);
    background: -o-linear-gradient(top, transparent 0, transparent 21%, rgba(0, 0, 0, 0.55) 100%);
    background: linear-gradient(to bottom, transparent 0, transparent 21%, rgba(0, 0, 0, 0.55) 100%); }
    .movieCard__details:hover > .movieCard__moviePlay img {
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4); }
  .movieCard__movieCharts {
    position: relative; }
  .movieCard__movieLikesCnt {
    position: relative;
    display: inline-block;
    width: auto; }
    .movieCard__movieLikesCnt img {
      width: 34px;
      max-width: 100%; }
    .movieCard__movieLikesCnt span {
      position: absolute;
      display: inline-block;
      left: 11px;
      top: 16px;
      font-size: 9px; }
  .movieCard__movieLaunch {
    position: absolute;
    top: -5px;
    right: -5px;
    float: right;
    width: 55px;
    height: 55px;
    overflow: hidden; }
    .movieCard__movieLaunch span {
      position: absolute;
      left: -5px;
      top: 13px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      display: block;
      width: 80px;
      padding: 3px 0;
      font-size: 9px;
      background-color: #3498db;
      -webkit-box-shadow: 0 3px 10px -5px black;
      box-shadow: 0 3px 10px -5px black;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center; }
  .movieCard__moviePlay img {
    display: block;
    width: 50px;
    max-width: 100%;
    margin: 60px auto 50px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 640px) {
      .movieCard__moviePlay img {
        width: 40px;
        margin: 20px auto 20px; } }
  .movieCard__title {
    text-align: center;
    text-transform: capitalize; }
    .movieCard__title span {
      font-weight: 600;
      margin: 0 0 6px;
      font-size: 14px;
      letter-spacing: 1px;
      display: block; }
      .movieCard__title span + div {
        font-size: 12px; }

.trailer {
  position: relative;
  z-index: 2;
  display: block;
  max-height: 0px;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  @media (min-width: 993px) {
    .trailer {
      width: calc(600% + 100px); } }
  @media (min-width: 769px) and (max-width: 992px) {
    .trailer {
      width: calc(500% + 80px); } }
  @media (min-width: 400px) and (max-width: 768px) {
    .trailer {
      width: calc(300% + 40px); } }
  @media (max-width: 399px) {
    .trailer {
      width: calc(200% + 20px); } }
  .trailer.expandTrailer {
    max-height: 3000px;
    overflow: visible; }
  .trailer img {
    margin: 20px;
    max-width: 100%; }
  .trailer__inner {
    display: table;
    width: 100%;
    height: 45%;
    background-color: #484848;
    border-radius: 4px;
    margin: 0px 0 15px; }
    @media (max-width: 768px) {
      .trailer__inner {
        display: block;
        height: auto; } }
  .trailer__video, .trailer__trailerDetails {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    padding: 10px; }
    @media (max-width: 768px) {
      .trailer__video, .trailer__trailerDetails {
        display: block;
        width: 100%;
        padding: 10px 0px 10px 10px; } }
  .trailer__video {
    text-align: left; }
    .trailer__video--iframe {
      width: 100%;
      height: 100%;
      display: inline-block; }
      @media (max-width: 768px) {
        .trailer__video--iframe {
          height: auto; } }
  .trailer__trailerDetails {
    color: #ffffff; }
  .trailer__trailerDetailsInner {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px; }
    @media (max-width: 768px) {
      .trailer__trailerDetailsInner {
        height: auto; } }
  .trailer__trailerName {
    font-size: 17px;
    margin: 0 0 5px;
    letter-spacing: 1px; }
  .trailer__trailerLang {
    font-size: 14px;
    font-weight: 200;
    margin: 0 0 15px; }
  .trailer__trailerGenere span {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    font-size: 8px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    margin: 0 10px 10px 0;
    text-transform: uppercase; }
  .trailer__trailerPlot {
    font-size: 13px;
    font-weight: 200; }
    @media (max-width: 400px) {
      .trailer__trailerPlot {
        font-size: 11px; } }
