
//Color Variables
$bms-text-dark: #333333;
$bms-text: #666666;
$bms-text-light: #999999;
$bms-text-l2: #cccccc;
$bms-white: #ffffff;
$bms-text-lightest: #f9f9f9;
$bms-input-border: #dddddd;
$bms-bg-light: #f1f1f1;
